<%- include("layout/head") %>

<div class="container mt-5">
  <div class="row products align-items-stretch">
    <% Products.forEach((product)=>{ %>
    <div class="col-12 col-md-4 col-lg-3">
      <div class="product card mb-3 m-1 p-0" id="">
        <div class="card-body">
          <h5 class="card-title text-center">
            <span class="text-muted"><%= product.title %>: </span>
            <span class="badge badge-success rounded-pill"
              >$<%= product.price %></span
            >
          </h5>
        </div>
        <img
          src="<%= product.image_url %>"
          alt="<%= product.title %>"
          srcset=""
        />

        <div
          class="d-flex justify-content-center flex-column px-2 pb-4 text-muted mt-4"
        >
          <a
            href="/admin/edit-product?editing=true&productID=<%= product.id %>"
            type="submit"
            class="icon-button up btn btn-warning rounded-pill d-flex justify-content-center align-items-center"
            >Edit
            <ion-icon name="create-sharp"></ion-icon>
          </a>
          <form
            action="/admin/delete-product?id=<%= product.id %>"
            method="POST"
          >
            <button
              type="submit"
              class="w-100 icon-button btn btn-danger rounded-pill d-flex justify-content-center align-items-center mt-2"
            >
              Delete
              <ion-icon name="close-circle-sharp"></ion-icon>
            </button>
          </form>

          <a
            href="/products/<%=product.id%>"
            class="icon-button btn btn-info rounded-pill d-flex justify-content-center align-items-center mt-2"
            >View Product
            <ion-icon name="arrow-forward-circle-sharp"></ion-icon>
          </a>
        </div>
      </div>
    </div>
    <% })%>
  </div>
</div>

<br />

<%- include("../shared/sharedEnd") %>
